.hideable-area{
	height: 0px;
    overflow: hidden;
    display: block;
    transition: height 200ms;
}

.hideable-area:not(:first-child) {
    border-top: 1px solid #DEDEDE;
}

.error-wrapper{
	color: #E82A0C;
}

.item-input-wrapper-error{
	border-color: #E82A0C;
}